{% extends '@admin/layout.html.twig' %}

{% block title %}Gestion des commentaires{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-comment mr-1"></i>
                    Liste des commentaires
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Commentaire</th>
                                <th>Titre du Post commenté</th>
                                <th>Crée le</th>
                                <th>Modifié le</th>
                                <th>Auteur</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Commentaire</th>
                                <th>Titre du Post</th>
                                <th>Crée le</th>
                                <th>Modifié le</th>
                                <th>Auteur</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr>
                                <td>postId</td>
                                <td>content</td>
                                <td>postTitle</td>
                                <td>dateCreated</td>
                                <td>dateModified</td>
                                <td>userDisplayName</td>
                                <td>
                                    <a href="/admin/comment/edit/1"><i class="fas fa-eye"></i></a>
                                    <a href="/admin/comment/delete/1"><i class="fas fa-trash"></i></a></td>
                            </tr>
                            <tr class="text-muted">
                                <td>postId</td>
                                <td>content</td>
                                <td>postTitle</td>
                                <td>dateCreated</td>
                                <td>dateModified</td>
                                <td>userDisplayName</td>
                                <td>
                                    <a href="/admin/comment/edit/1"><i class="fas fa-eye-slash text-danger"></i></a>
                                    <a href="/admin/comment/delete/1"><i class="fas fa-trash"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}