{% extends '@admin/layout.html.twig' %}

{% block title %}Gestion des posts{% endblock %}

{% block content %}
    <div class="row">
        <div class="card">
            <div class="card-header">
                <i class="far fa-font-awesome mr-1"></i>
                Titre de la section
            </div>
            <div class="card-body">
                <p>Contenue de la section</p>
            </div>
        </div>
    </div>
 
{% endblock %}