{% extends '@admin/layout.html.twig' %}

{% block title %}Gestion du profil{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <i class="far fa-user mr-1"></i>
                    Nom et Prénom
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-2">
                            <label for="lastName">Nom</label><br/>
                            <input type="text" maxlength="40" name="lastName" id="lastName"/>
                        </div>
                        <div class="mb-2">
                            <label for="fistName">Prénom</label><br/>
                            <input type="text" maxlength="20" name="firstName" id="fistName"/>
                        </div>
                        <div>
                            <button type="submit" name="profil_nameSubmit">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 mt-sm-4 mt-lg-0">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-quote-right mr-1"></i>
                    Phrase d'accroche
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-2">
                            <textarea maxlength="130" name="teasing" id="teasing" style="width:686px;max-width: 100%"
                                      rows="2"></textarea>
                        </div>
                        <div>
                            <button type="submit" name="profil_teasingSubmit">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 mt-4">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-image mr-1"></i>
                    Photo / Logo
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-2">
                            <img src="/img/logo.png" width="120px"/>
                        </div>
                        <div class="mb-2">
                            <input type="file" name="profilPhoto"/>
                        </div>
                        <div>
                            <button type="submit" name="profil_photoSubmit">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 mt-4">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-file mr-1"></i>
                    C.V.
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-2">
                            <a href="/cv.pdf">/cv.pdf</a>
                        </div>
                        <div class="mb-2">
                            <input type="file" name="profilCv"/>
                        </div>
                        <div>
                            <button type="submit" name="profil_CvSubmit">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}