{% extends '@public/layout.html.twig' %}

{% block content %}
    <!-- Hero section -->
    <section class="page-top-section set-bg" data-setbg="img/page-top-bg.jpg">
        <div class="container">
            <h2>Blog</h2>
        </div>
    </section>
    <!-- Hero section end -->

    <section class="recipe-details-section">
        <div class="container">
            <div class="row">
                <div class="post-meta">
                    <div class="post-date">
                        <span>24 Juillet 2020</span>
                    </div>
                    <h2>Post N°1</h2>
                </div>
            </div>
            <div class="row">
                <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse
                    potenti.
                    Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus
                    posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magni.</p>
            </div>
        </div>
    </section>
{% endblock %}