{% extends '@public/layout.html.twig' %}

{% block title %}Contact - Message envoyé | {{ parent() }}{% endblock %}

{% block content %}
    <!-- Hero section -->
    <section class="page-top-section set-bg" data-setbg="img/page-top-bg.jpg">
        <div class="container">
            <h2>Contact</h2>
        </div>
    </section>
    <!-- Hero section end -->

    <section class="spad">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Bravo !</h2>
                    <p class="bold">Votre message a bien été envoyé</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}