{% extends '@public/layout.html.twig' %}

{% block content %}
    <!-- Hero section -->
    <section class="page-top-section set-bg" data-setbg="img/page-top-bg.jpg">
        <div class="container">
            <h2>Blog</h2>
        </div>
    </section>
    <!-- Hero section end -->

    <section class="spad">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <H1>Page non trouvée</H1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}