{% extends '@public/layout.html.twig' %}

{% block title %}S'enregistrer | {{ parent() }}{% endblock %}

{% block content %}
    <!-- Hero section -->
    <section class="page-top-section set-bg" data-setbg="img/page-top-bg.jpg">
        <div class="container">
            <h2>S'enregistrer</h2>
        </div>
    </section>
    <!-- Hero section end -->

    <section class="login-section spad">
        <div class="container">
            <form class="contact-form">
                <div class="row">
                    <div class="col-sm-12 col-md-6 m-auto">
                        <div><input type="text" placeholder="Votre adresse e-mail"></div>
                        <div><input type="text" placeholder="Pseudo"></div>
                        <div><input type="password" placeholder="Mot de passe"></div>
                        <div><input type="password" placeholder="Confirmer le mot de passe"></div>
                        <div class="register-form-collecte"><input type="checkbox" class="register_checkbox">J'autorise le site à collecter et conserver les données personnelles que je lui transmets via ce formulaire</div>
                        <div class="text-center">
                            <button class="site-btn">S'enregistrer</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}