{% extends '@public/layout.html.twig' %}

{% block title %}Le Blog | {{ parent() }}{% endblock %}

{% block content %}
    <!-- Hero section -->
    <section class="page-top-section set-bg" data-setbg="/img/page-top-bg.jpg">
        <div class="container" style="height:100px">
        </div>
    </section>
    <!-- Hero section end -->

    <section class="spad">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <div class="post-meta pb-5">
                        <h2>Post 1</h2>
                        <div class="text-muted">Le 24 Juillet<span class="small"> - modifié le 31/07</span></div>
                    </div>
                    <div class="post-chapo font-weight-bold">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui.
                            Suspendisse
                            potenti.
                            Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor
                            enim.
                            Phasellus
                            posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et
                            magni.</p>
                    </div>
                    <div class="post-text"><p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consequat dui nec
                            lacus
                            ultrices fermentum. Phasellus mauris diam, mollis nec cursus sed, placerat sit amet
                            augue.
                            Praesent convallis dapibus nunc, eget dignissim mi feugiat eget. Nullam luctus,
                            tellus a
                            volutpat pharetra, lectus arcu eleifend massa, fermentum egestas mi elit vel erat.
                            Nulla
                            mauris urna, dictum at volutpat vel, mattis elementum nisi. Integer condimentum
                            egestas
                            massa eu pharetra. Pellentesque in lacinia ante. Nulla convallis at nibh eget
                            varius.
                            Praesent sagittis dui ut erat imperdiet tristique. Nam facilisis urna non libero
                            ornare
                            elementum. Vivamus purus est, viverra vitae erat consectetur, volutpat sagittis
                            nisi.
                            Phasellus interdum molestie fringilla. Nunc malesuada commodo condimentum. Cras
                            fringilla
                            nunc ut congue dapibus. Integer et vulputate lectus. Fusce volutpat purus ut tellus
                            vehicula
                            pharetra.<br/>
                            <br/>
                            Sed vel scelerisque mi. Nulla vitae sem ac lorem accumsan lobortis eu fringilla leo.
                            Duis
                            semper orci nec dolor luctus lobortis. Pellentesque sit amet sem ut neque imperdiet
                            lobortis. Curabitur eu tortor quis felis facilisis porta quis sit amet orci. Etiam
                            pretium
                            ante eget nibh rhoncus, ac pretium neque vehicula. Ut at mi augue. Aliquam dignissim
                            mollis
                            neque et imperdiet. Maecenas tincidunt consectetur quam bibendum fermentum. In hac
                            habitasse
                            platea dictumst. Nulla facilisi.<br/>
                            <br/>
                            Aliquam risus odio, dignissim a dui at, ultrices venenatis tortor. Etiam mauris
                            elit,
                            sodales sit amet sem at, tempus venenatis dui. Nunc ac erat dignissim est imperdiet
                            hendrerit non vitae odio. Pellentesque non mi eget augue fermentum sodales et vitae
                            mauris.
                            Fusce augue turpis, consequat ac luctus a, sodales id lectus. In efficitur egestas
                            accumsan.
                            Duis sit amet augue id turpis fringilla imperdiet a sit amet nibh. Maecenas ac
                            vulputate
                            ante, vitae dignissim lectus. Vestibulum aliquet, libero in fringilla rhoncus, felis
                            velit
                            venenatis mauris, nec dapibus purus quam nec tortor. Maecenas vitae lectus vitae dui
                            pretium
                            ultrices. Mauris sit amet lobortis dolor. Donec sapien nibh, accumsan ac imperdiet
                            nec,
                            cursus laoreet turpis. Praesent semper est orci, et dictum neque dictum sed. Ut
                            consequat
                            lorem est, at vestibulum lectus tempus vehicula. Vivamus vitae iaculis nunc, eget
                            consequat
                            eros.<br/>
                            <br/>
                            Praesent tincidunt eleifend dui, a posuere nulla pulvinar ac. Fusce eget sagittis
                            lacus.
                            Morbi tellus justo, mattis nec eleifend a, hendrerit quis turpis. Aliquam erat
                            volutpat.
                            Aliquam facilisis tempus metus, nec accumsan risus ultricies sit amet. Donec
                            imperdiet
                            venenatis diam, consectetur facilisis nulla tincidunt nec. Aliquam consequat nunc
                            est,
                            porta
                            sagittis sapien pretium eget. Donec justo metus, malesuada a efficitur a, blandit
                            sit
                            amet
                            justo. Cras et aliquam risus. Vestibulum fermentum risus felis.<br/>
                            <br/>
                            Quisque ultricies risus urna, et consectetur nulla aliquet eget. Nulla vulputate
                            ante
                            vitae
                            lobortis aliquam. Nunc eleifend, libero vel varius feugiat, elit dui tincidunt
                            nulla,
                            vel
                            faucibus est arcu ac velit. Morbi tincidunt consectetur lorem sed bibendum. Nullam
                            sed
                            pulvinar mauris, eget placerat urna. Duis pretium tristique ante sed sagittis.
                            Phasellus
                            malesuada mi eu quam pharetra, ornare volutpat augue commodo. Aliquam vel ornare
                            nunc,
                            ac
                            finibus ligula. Pellentesque semper, mi nec mattis rhoncus, urna mi interdum urna,
                            non
                            sollicitudin justo lorem nec sem.<br/>
                            <br/>
                            Donec condimentum aliquam ligula, pretium sodales mauris rutrum vel. Fusce pharetra
                            enim
                            tortor, ut congue tortor aliquet ac. Maecenas semper maximus eros ac commodo. Nullam
                            tincidunt purus metus, ac blandit enim lacinia nec. Vestibulum id arcu a nisl auctor
                            suscipit. Pellentesque finibus, eros vel eleifend consectetur, tortor felis vehicula
                            eros, a
                            rutrum eros nunc quis lectus. Aliquam vitae condimentum eros, in mattis urna.
                            Quisque ut
                            vestibulum est, non laoreet tortor. Phasellus dapibus nibh libero. Vivamus fringilla
                            dui
                            leo, eu scelerisque metus sollicitudin vitae. Maecenas sed neque vel ligula
                            porttitor
                            eleifend in nec metus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                            Quisque
                            pulvinar iaculis sem ac auctor. Nunc ullamcorper ante vitae lacus dictum, in
                            pulvinar
                            erat
                            pellentesque. Morbi vulputate eros sodales purus ornare efficitur.
                        </p>
                    </div>
                    <div class="comments pt-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="comments-count">2 Commentaires</div>
                                <div class="comment">
                                    <div class="comment-author">Paul Machin</div>
                                    <div class="comment-date">Le 01-08-2020 à 14h32</div>
                                    <div class="comment-text">Super article, très interessant !</div>
                                </div>
                                <div class="comment">
                                    <div class="comment-author">Paul Machin</div>
                                    <div class="comment-date">Le 01-08-2020 à 14h32</div>
                                    <div class="comment-text">Super article, très interessant !</div>
                                </div>
                                <div class="comment">
                                    <div class="comment-author">Paul Machin</div>
                                    <div class="comment-date">Le 01-08-2020 à 14h32</div>
                                    <div class="comment-text">Il a été dit par une étude que moins on est symptomatique, moins on a d’immunité au sens des anticorps Et celle-ci est plus courte.<br />
                                        <br />
                                        Maintenant, on est peut-être asymptomatique parce qu’on a une résistance « naturelle » au virus: immunité croisée, immunité cellulaire ? On reste quand même contagieux, et il est possible d’avoir également des destructions organiques dont on ne sait pas encore s’ils sont temporaires ou définitifs. Ainsi, tout récemment, on a appris que 78% d’anciens malades avaient des séquelles au niveau du coeur 2 à 3 mois après avoir été malade.<br />
                                        <br />
                                        https://www.pourquoidocteur.fr/Articles/Question-d-actu/33405-Covid-19-trois-quarts-patients-gueris-des-sequelles-cardiaques/amp<br />
                                        <br />
                                        Voir ce lien pour l’immunité : https://www.lemonde.fr/blog/realitesbiomedicales/2020/07/20/reponse-immunitaire-cellulaire-specifique-contre-le-coronavirus-sars-cov-2-des-resultats-encourageants-dautres-intrigants/</div>
                                </div>
                                <div class="comment">
                                    <div class="comment-author">Paul Machin</div>
                                    <div class="comment-date">Le 01-08-2020 à 14h32</div>
                                    <div class="comment-text">Super article, très interessant !</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-form pt-5">
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-12 pb-3">
                                    <h4>Laisser un commentaire</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea placeholder="Votre Message"></textarea>
                                    <button class="site-btn">Envoyer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <aside class="col-sm-12 col-md-4 offset-md-1 pt-5 pt-md-0">
                    <h4 class="pb-3">Derniers posts</h4>
                    <ul class="list-unstyled">
                        <li class="py-2 border-bottom">Post 1</li>
                        <li class="py-2 border-bottom">Post 2 avec un titre un peu long mais pas trop quand même</li>
                        <li class="py-2 border-bottom">Post 3</li>
                        <li class="py-2 border-bottom">Post 4</li>
                        <li class="py-2 border-bottom">Post 5</li>
                    </ul>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}